@{
    ViewData["Title"] = "Detectar Palíndromos";
}

<h2>Detectar Palíndromos VER 2</h2>

<form method="post" action="ContarPalindromos">
    @Html.AntiForgeryToken() <!-- Protege el formulario contra CSRF -->
    <div class="form-group">
        <label for="texto">Ingrese el texto:</label>
        <input type="text" id="texto" name="texto" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Contar Palíndromos</button>
</form>